In [13]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [1]:
import os
import pandas as pd

maps = ['FloSquads', 'FloLunges', 'FloJumpingJacks', 'FloLegRaises', 'FloCrunches', 'FloPushUps']


# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/FloSquads/'

# Create an empty dictionary to store the DataFrames
dataframes = {}

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(directory, filename)
            
        # Read the CSV file into a pandas DataFrame
        df = pd.read_csv(file_path)
            
        # Assign a name to the DataFrame (e.g., using the filename without the extension)
        name = filename[:-4]# Remove the '.csv' extension
        dataframes[name] = df
            
        # Process the DataFrame or perform desired operations
        # For example, you can print the contents of the DataFrame
        print(dataframes[name])

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.013389   0.414624  -0.381623  -2.714093
1      0.023396   0.720676   0.083208  -3.081424
2      0.033402   0.334594  -0.063836  -1.509768
3      0.043408   0.412912  -0.162313  -1.732028
4      0.053414  -0.006682  -0.106160  -1.823116
...         ...        ...        ...        ...
2927  29.301008  -0.127324  -0.188443  -0.941145
2928  29.311014  -0.100347  -0.364231  -0.456224
2929  29.321020  -0.165534  -0.578695   0.083833
2930  29.331026   0.086189  -0.463854  -0.313052
2931  29.341032   0.409490  -0.311854  -1.014238

[2932 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.003344            5.0
1   0.929901            0.0
2  28.267376            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone14,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease      16.1.1
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           1
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.522175  1019.214935
1    0.508522  1019.218292
2    1.539223  1019.221649
3    2.569889  1019.233017
4    3.600615  1019.236298
5    3.795734  1019.236298
6    4.859694  1019.240875
7    5.923619  1019.240875
8    6.987544  1019.242096
9    8.051513  1019.247131
10   9.115457  1019.247589
11  10.179378  1019.254379
12  11.243328  1019.257355
13  12.307238  1019.260406
14  13.371166  1019.265671
15  14.435119  1019.267654
16  15.499112  1019.274139
17  16.563068  1019.276199
18  17.627014  1019.284668
19  18.690958  1019.285889
20  19.754899  1019.292068
21  20.818852  1019.298172
22  21.882818  1019.304276
23  22.946814  1019.309082
24  24.010779  1019.309082
25  25.074741  1019.305344
26  26.138737  1019.292679
     Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0    0.014972     52.108263       5.092798    3.478946       -1.000000
1    0.014972     52.108263       5.092798    3.150141       -1.000000
2    0.885793     52.108263       5.092798    3.123495       -1.000000
3    2.735568     52.108263       5.092798    3.112319       -1.000000
4    5.516125     52.108240       5.092751    2.329861        1.020000
5    6.516094     52.108238       5.092750    2.715664        0.000000
6    7.516096     52.108243       5.092757    2.984280        0.430000
7    8.516102     52.108248       5.092758    3.400600        0.000000
8    9.516103     52.108254       5.092761    3.796902        0.230000
9   10.516106     52.108264       5.092765    4.064419        0.230000
10  11.516114     52.108275       5.092758    5.292812        0.410000
11  12.516120     52.108283       5.092755    4.951687        0.160000
12  13.516121     52.108288       5.092745    5.763699        0.410000
13  14.516130     52.108293       5.092739    6.016201        0.390000
14  15.516135     52.108301       5.092733    6.910793        0.210000
15  16.516142     52.108309       5.092728    8.105373        0.300000
16  17.516148     52.108316       5.092721    9.213955        0.180000
17  18.516150     52.108320       5.092712   10.727139        0.300000
18  19.516149     52.108323       5.092705   11.490933        0.330000
19  20.516154     52.108343       5.092692   12.870815        1.140000
20  21.516162     52.108352       5.092696   12.532925        0.690000
21  22.516169     52.108276       5.092780    2.167230        0.188953
22  23.516175     52.108270       5.092774    2.123880        0.129233
23  24.516181     52.108289       5.092816    2.183141        0.574970
24  25.516188     52.108295       5.092829    2.155270        0.664692
25  26.516193     52.108280       5.092756    2.196342        0.614102
26  27.516198     52.108282       5.092751    2.154825        0.574454
27  28.516204     52.108284       5.092746    2.121885        0.519170

    Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0       -1.000000                10.655895              10.655895
1       -1.000000                10.655895              10.655895
2       -1.000000                10.655895              10.655895
3       -1.000000                10.655895              10.655895
4       87.539074                14.166363              14.166363
5       -1.000000                13.593547              13.593547
6       -1.000000                12.138920              12.138920
7       -1.000000                13.279492              13.279492
8       -1.000000                11.400554              11.400554
9       -1.000000                 9.058166               9.058166
10      -1.000000                 8.513383               8.513383
11      -1.000000                 8.227017               8.227017
12      -1.000000                 8.045829               8.045829
13      -1.000000                 7.433375               7.433375
14      -1.000000                 7.275667               7.275667
15      -1.000000                 6.586375               6.586375
16      -1.000000                 5.897314               5.897314
17      -1.000000                 5.600052               5.600052
18      -1.000000                 5.480888               5.480888
19     336.093745                 5.353971               5.353971
20       0.351563                 5.704247               5.704247
21      -1.000000                10.145828              10.145828
22      -1.000000                12.375893              12.375893
23      -1.000000                 9.612857               9.612857
24      -1.000000                11.814061              11.814061
25      -1.000000                10.600282              10.600282
26      -1.000000                13.014347              13.014347
27      -1.000000                16.075422              16.075422
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.013389  29.606201  -4.791912 -34.515701
1      0.023396  29.292770  -4.724300 -34.749496
2      0.033402  28.967690  -4.505444 -34.968643
3      0.043408  27.927246  -3.763571 -35.712585
4      0.053414  27.037910  -3.036690 -36.441467
...         ...        ...        ...        ...
2927  29.301008  -6.474236 -24.809193 -37.373108
2928  29.311014  -6.495628 -24.662859 -37.589890
2929  29.321020  -6.459854 -24.523304 -37.461990
2930  29.331026  -6.462891 -24.221581 -37.469574
2931  29.341032  -6.354607 -24.274984 -37.493805

[2932 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.002133  -4.940177   5.010381   5.305417
1      0.012139  -4.754413   4.339326   4.577631
2      0.022146  -4.201313   4.549190   4.032614
3      0.032152  -4.349206   4.628824   4.996160
4      0.042158  -4.120930   4.353547   6.116880
...         ...        ...        ...        ...
2928  29.299758  -1.718726   7.097191   5.304669
2929  29.309764  -1.607507   6.955735   5.794450
2930  29.319770  -1.730701   6.660549   6.418802
2931  29.329776  -1.597029   6.656957   6.478228
2932  29.339782  -1.278940   6.786138   5.692961

[2933 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.013389  -0.927599  -1.573931   0.138557
1      0.023396  -1.249877  -1.860560   0.163312
2      0.033402  -1.424536  -1.964625   0.218283
3      0.043408  -1.617437  -2.308851   0.261976
4      0.053414  -1.734939  -2.636342   0.284049
...         ...        ...        ...        ...
2927  29.301008  -0.426323  -0.020733  -0.143967
2928  29.311014  -0.379062  -0.043469  -0.166761
2929  29.321020  -0.294323   0.036364  -0.182793
2930  29.331026  -0.300417   0.053334  -0.212709
2931  29.341032  -0.391170  -0.032039  -0.282663

[2932 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686154e+09  2023-06-07 18:13:01.484 UTC+02:00
1  PAUSE        29.359565  1.686154e+09  2023-06-07 18:13:30.843 UTC+02:00

In [2]:
maps = ['FloLunges/', 'FloJumpingJacks/', 'FloLegRaises/', 'FloCrunches/', 'FloPushUps/']

# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/'

# Create an empty dictionary to store the DataFrames
additionaldfs = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename.endswith('.csv'):  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            additionaldfs[name] = df
            
            # Process the DataFrame or perform desired operations
            # For example, you can print the contents of the DataFrame
            print(additionaldfs[name])

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.011466  -0.017763   0.074477  -1.415030
1      0.021472   0.268841   0.320468  -0.404622
2      0.031478   0.511162   0.354225   0.481681
3      0.041483   0.945552   0.169078   0.650215
4      0.051489   0.620184  -0.237564   0.575703
...         ...        ...        ...        ...
4013  40.164658  -0.712248   0.132170  -0.374954
4014  40.174663  -0.522400   0.020414   0.819325
4015  40.184669  -0.605396  -0.026241   1.142940
4016  40.194675  -0.464047   0.116496   0.479273
4017  40.204681  -0.177110   0.055821  -0.098422

[4018 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.002795            5.0
1   0.828824            0.0
2  38.454696            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone14,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease      16.1.1
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           1
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.551369  1019.241486
1    0.479517  1019.245911
2    1.510393  1019.250336
3    2.541299  1019.262772
4    3.572217  1019.265213
5    3.767124  1019.269028
6    4.831333  1019.271317
7    5.895525  1019.272537
8    6.959723  1019.273071
9    8.023885  1019.276047
10   9.088023  1019.276886
11  10.152200  1019.276047
12  11.216363  1019.273148
13  12.280527  1019.269104
14  13.344671  1019.267807
15  14.408822  1019.267578
16  15.472971  1019.265366
17  16.537200  1019.265366
18  17.601426  1019.264450
19  18.665595  1019.263229
20  19.729760  1019.262619
21  20.793931  1019.262619
22  21.858135  1019.260406
23  22.922325  1019.263840
24  23.986492  1019.260406
25  25.050606  1019.263840
26  26.114717  1019.260254
27  27.178874  1019.260101
28  28.243005  1019.258499
29  29.307202  1019.257507
30  30.371396  1019.254761
31  31.435544  1019.252853
32  32.499688  1019.250107
33  33.563858  1019.249039
34  34.628025  1019.245300
35  35.692210  1019.244232
36  36.756379  1019.237137
     Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0    0.258125     52.108280       5.092648    8.545315        0.340000
1    1.258124     52.108287       5.092705   10.930447        0.340000
2    2.258123     52.108287       5.092705   10.930447        0.340000
3    3.258123     52.108287       5.092697   10.655300        0.220000
4    4.258122     52.108321       5.092699   11.367276        1.750000
5    5.258122     52.108321       5.092719   11.063992        1.750000
6    6.258126     52.108311       5.092707   11.049404        0.860000
7    7.258129     52.108320       5.092708   10.850369        0.860000
8    8.258132     52.108332       5.092707   10.875149        1.090000
9    9.258132     52.108361       5.092740   11.407010        2.160000
10  10.258131     52.108358       5.092734   11.163784        1.270000
11  11.258131     52.108372       5.092771   10.929165        1.570000
12  12.258130     52.108375       5.092765   11.208157        1.430000
13  13.258129     52.108386       5.092764   11.119839        1.430000
14  14.258129     52.108379       5.092744   11.182888        0.680000
15  15.258129     52.108382       5.092734   11.660061        0.490000
16  16.258129     52.108386       5.092725   11.640102        0.670000
17  17.258129     52.108389       5.092712   11.865688        0.700000
18  18.258130     52.108396       5.092707   11.898342        0.840000
19  19.258129     52.108400       5.092715   11.502163        0.840000
20  20.258129     52.108402       5.092749   11.293362        1.080000
21  21.258130     52.108400       5.092737   11.418911        0.790000
22  22.258131     52.108262       5.092757    2.098391        0.881481
23  23.258130     52.108258       5.092759    2.142920        0.822919
24  24.258131     52.108256       5.092773    2.138840        0.664081
25  25.258132     52.108252       5.092777    2.132256        0.609743
26  26.258133     52.108327       5.092884    2.140970        1.093942
27  27.258134     52.108297       5.092873    2.161375        0.720460
28  28.258134     52.108304       5.092886    2.140832        0.711141
29  29.258135     52.108298       5.092897    2.131288        0.797898
30  30.258136     52.108284       5.092859    2.108524        0.404679
31  31.258137     52.108294       5.092881    2.149464        0.394430
32  32.258138     52.108271       5.092823    2.157877        0.422624
33  33.258139     52.108263       5.092817    2.136954        0.470932
34  34.258140     52.108266       5.092818    2.115584        0.313282
35  35.258142     52.108266       5.092802    2.101421        0.423503
36  36.258142     52.108262       5.092788    2.098268        0.435237
37  37.258143     52.108255       5.092753    2.090246        0.753599
38  38.258145     52.108245       5.092719    2.082868        1.008102
39  39.258146     52.108250       5.092724    2.092203        0.809390

    Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0      192.304688                 4.515044               4.515044
1      355.429688                 3.535534               3.535534
2       -1.000000                 4.609935               4.609935
3       -1.000000                 4.609935               4.609935
4        1.054688                 4.644679               4.644679
5       33.750011                 4.765122               4.765122
6       -1.000000                 5.552802               5.552802
7       -1.000000                 6.753425               6.753425
8       -1.000000                 7.974202               7.974202
9       38.320328                 6.245332               6.245332
10      -1.000000                 6.762116               6.762116
11      58.710953                 6.969361               6.969361
12      -1.000000                 7.601617               7.601617
13      35.859385                 7.830570               7.830570
14      -1.000000                 7.359163               7.359163
15      -1.000000                 7.559949               7.559949
16      -1.000000                 7.828568               7.828568
17      -1.000000                 7.949057               7.949057
18      -1.000000                 8.006060               8.006060
19      -1.000000                 9.451678               9.451678
20      86.835950                10.573189              10.573189
21      -1.000000                10.478103              10.478103
22      -1.000000                15.570026              15.570026
23      -1.000000                17.321603              17.321603
24      -1.000000                19.341784              19.341784
25      -1.000000                22.563930              22.563930
26      -1.000000                21.039250              21.039250
27      -1.000000                18.372668              18.372668
28      -1.000000                17.969386              17.969386
29      -1.000000                20.971488              20.971488
30      -1.000000                20.551808              20.551808
31      -1.000000                21.725876              21.725876
32      -1.000000                16.691673              16.691673
33      -1.000000                16.427087              16.427087
34      -1.000000                18.363564              18.363564
35      -1.000000                20.144523              20.144523
36      -1.000000                20.414522              20.414522
37      -1.000000                22.708184              22.708184
38      -1.000000                24.481667              24.481667
39      -1.000000                27.618607              27.618607
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.011466  14.811249  -0.326580 -41.088455
1      0.021472  14.588219  -0.228840 -41.025620
2      0.031478  14.282288  -0.211600 -41.214203
3      0.041483  13.302216  -0.169228 -41.550674
4      0.051489  12.521507  -0.410670 -42.157471
...         ...        ...        ...        ...
4013  40.164658  16.375679 -14.713735 -39.575119
4014  40.174663  16.442055 -14.535973 -39.625763
4015  40.184669  16.467461 -14.624079 -39.454651
4016  40.194675  16.395729 -14.545616 -39.424667
4017  40.204681  16.438339 -14.419626 -39.606415

[4018 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.000210  -2.060765   3.553011   7.285350
1      0.010216  -1.533860   3.406017   7.797136
2      0.020222  -1.172212   3.689079   8.824000
3      0.030228  -0.746947   3.662584   9.698033
4      0.040233  -0.186512   3.523523   9.748927
...         ...        ...        ...        ...
4014  40.163408  -3.101251   6.429280   6.891968
4015  40.173413  -2.911146   6.315068   8.048014
4016  40.183419  -3.020269   6.292165   8.220755
4017  40.193425  -2.820135   6.415359   7.502399
4018  40.203431  -2.539769   6.345005   7.004983

[4019 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.011466   0.058514  -1.004091   0.095220
1      0.021472   0.071583  -1.278317   0.184665
2      0.031478   0.138973  -1.671200   0.205530
3      0.041483   0.135962  -1.835863   0.221686
4      0.051489  -0.344471  -0.797017   0.326664
...         ...        ...        ...        ...
4013  40.164658  -0.243670  -0.059234   0.017742
4014  40.174663  -0.084184  -0.048337   0.034193
4015  40.184669  -0.016930  -0.008106   0.040478
4016  40.194675  -0.057895  -0.032475   0.010104
4017  40.204681  -0.155557  -0.109560  -0.045851

[4018 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686155e+09  2023-06-07 18:15:19.742 UTC+02:00
1  PAUSE        40.218508  1.686155e+09  2023-06-07 18:15:59.960 UTC+02:00
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.013883  -0.378616  -1.138789  -2.252465
1      0.023889   0.162941  -0.502623  -1.126175
2      0.033895   0.517893   0.251481  -0.559495
3      0.043900   0.303468   0.150893  -0.611581
4      0.053906   0.099531  -0.986878  -0.763020
...         ...        ...        ...        ...
3289  32.923105   0.223111  -0.121686   0.107467
3290  32.933111  -0.024681  -0.141639   0.838839
3291  32.943117   0.044400  -0.145707   1.194300
3292  32.953123   0.113516  -0.173776   0.526798
3293  32.963128   0.005630  -0.305453  -0.593986

[3294 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.002868            5.0
1   0.896849            0.0
2  31.915634            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone14,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease      16.1.1
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           1
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.546604  1019.210434
1    0.484531  1019.218445
2    1.515669  1019.226456
3    2.546829  1019.238510
4    3.577953  1019.240341
5    3.772430  1019.240341
6    4.836800  1019.239578
7    5.901131  1019.239426
8    6.965507  1019.239578
9    8.029859  1019.239655
10   9.094170  1019.240494
11  10.158492  1019.240494
12  11.222863  1019.239578
13  12.287224  1019.237061
14  13.351572  1019.229355
15  14.415886  1019.226990
16  15.480154  1019.226990
17  16.544434  1019.228287
18  17.608731  1019.228516
19  18.673018  1019.229355
20  19.737270  1019.229355
21  20.801499  1019.228287
22  21.865716  1019.222336
23  22.930037  1019.216690
24  23.994376  1019.214172
25  25.058680  1019.214096
26  26.123013  1019.214096
27  27.187341  1019.215469
28  28.251672  1019.223175
29  29.316008  1019.230423
     Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0    0.009075     52.108263       5.092798    3.106636           -1.00
1    0.011113     52.108263       5.092798    3.107076           -1.00
2    0.011113     52.108263       5.092798    3.107178           -1.00
3    4.637900     52.108263       5.092798    3.107310           -1.00
4   10.416156     52.108245       5.092752    2.479397            0.00
5   11.416159     52.108267       5.092738    2.226589            0.00
6   12.415946     52.108250       5.092742    2.670010            0.00
7   13.415947     52.108270       5.092732    2.206203            0.00
8   14.415952     52.108275       5.092724    2.077480            0.00
9   15.415953     52.108307       5.092650    4.857571            0.31
10  16.415956     52.108332       5.092550    3.380703            0.32
11  17.415959     52.108255       5.092626    3.990139            0.31
12  18.415963     52.108255       5.092626    3.990139            0.31
13  19.415962     52.108272       5.092652    5.733730            0.22
14  20.415954     52.108248       5.092637    7.412319            0.25
15  21.415933     52.108258       5.092678    7.198452            0.30
16  22.415935     52.108269       5.092652    8.546047            0.17
17  23.415940     52.108298       5.092688    9.819668            0.30
18  24.415944     52.108310       5.092678    8.649990            0.83
19  25.415943     52.108314       5.092669    8.625942            1.21
20  26.415948     52.108322       5.092663    8.277798            1.21
21  27.415953     52.108333       5.092684    7.955166            1.19
22  28.415958     52.108323       5.092675    8.488796            0.18
23  29.415963     52.108300       5.092646    8.971707            1.85
24  30.415968     52.108304       5.092621    8.782803            1.85
25  31.415972     52.108310       5.092623    9.198208            1.49
26  32.415977     52.108309       5.092646    8.911160            0.55

    Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0       -1.000000                10.655895              10.655895
1       -1.000000                10.655895              10.655895
2       -1.000000                10.655895              10.655895
3       -1.000000                10.655895              10.655895
4       -1.000000                18.446563              18.446563
5       -1.000000                15.556333              15.556333
6       -1.000000                12.916913              12.916913
7       -1.000000                12.831543              12.831543
8       -1.000000                11.260174              11.260174
9       87.539062                10.953951              10.953951
10     267.187500                 4.861249               4.861249
11     309.726562                 4.376901               4.376901
12      -1.000000                 4.777326               4.777326
13      -1.000000                 4.856399               4.856399
14      -1.000000                 4.947060               4.947060
15      -1.000000                 5.039983               5.039983
16      -1.000000                 5.088210               5.088210
17      -1.000000                 4.783636               4.783636
18     358.945312                 5.100907               5.100907
19      -1.000000                 5.319827               5.319827
20      -1.000000                 6.169593               6.169593
21      42.890634                 4.826337               4.826337
22      -1.000000                 4.809938               4.809938
23     218.320299                 5.015651               5.015651
24     259.453104                 5.140093               5.140093
25     266.835920                 5.478323               5.478323
26      -1.000000                 5.637255               5.637255
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.013883  17.417252   1.539692 -39.524796
1      0.023889  17.121437   1.678822 -39.676193
2      0.033895  16.833496   1.872217 -39.805649
3      0.043900  15.835678   2.460203 -40.101151
4      0.053906  15.097679   2.926451 -40.411346
...         ...        ...        ...        ...
3289  32.923105   4.463066 -20.012478 -39.788330
3290  32.933111   4.670975 -19.993048 -39.812592
3291  32.943117   4.477203 -20.033606 -39.900757
3292  32.953123   4.639717 -19.974892 -39.621521
3293  32.963128   4.764954 -20.024452 -39.625107

[3294 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.000127  -0.370480   0.961900   7.458540
1      0.010133  -0.617765   0.023351   7.389982
2      0.020139  -0.058229   0.486189   8.489296
3      0.030145   0.478255   1.253942   9.163345
4      0.040150   0.542322   1.271306   9.125623
...         ...        ...        ...        ...
3290  32.919355  -0.417482   7.126381   6.594387
3291  32.929361  -0.669258   7.104975   7.339238
3292  32.939367  -0.665067   7.101233   7.771090
3293  32.949373  -0.578397   7.070696   7.233707
3294  32.959378  -0.715811   6.961873   6.097121

[3295 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.013883  -0.345556  -1.062709  -1.504049
1      0.023889  -0.468792  -1.282992  -1.510004
2      0.033895  -0.467952  -1.670144  -1.532226
3      0.043900  -0.541158  -1.572710  -1.469280
4      0.053906  -0.722629  -2.182538  -1.296507
...         ...        ...        ...        ...
3289  32.923105  -0.186946  -0.053661  -0.096486
3290  32.933111  -0.022949   0.037162  -0.106940
3291  32.943117   0.044729   0.207162  -0.093071
3292  32.953123  -0.024143   0.277581  -0.055402
3293  32.963128  -0.143915   0.217919  -0.044326

[3294 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START          0.00000  1.686155e+09  2023-06-07 18:21:31.584 UTC+02:00
1  PAUSE         32.97344  1.686155e+09  2023-06-07 18:22:04.558 UTC+02:00
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.014403   0.164677  -0.012756  -0.064561
1      0.024409   0.024327  -0.148164  -0.067125
2      0.034415   0.003003  -0.180958  -0.315247
3      0.044420  -0.062839  -0.155284  -0.305595
4      0.054426   0.019395  -0.506800  -0.505668
...         ...        ...        ...        ...
2914  29.171179  -0.282241  -0.674476  -0.508269
2915  29.181184  -0.352759  -0.582573  -0.194468
2916  29.191190  -0.149942  -0.312589  -0.150861
2917  29.201196   0.250433  -0.105535  -0.383847
2918  29.211202   0.317613   0.036046  -1.414563

[2919 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.003564            5.0
1   0.896881            0.0
2  28.182059            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone14,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease      16.1.1
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           1
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.562783  1019.276505
1    0.468296  1019.280853
2    1.499417  1019.285278
3    2.530522  1019.287949
4    3.561587  1019.287949
5    3.756138  1019.285889
6    4.820505  1019.285431
7    5.884874  1019.281998
8    6.949249  1019.277878
9    8.013608  1019.273987
10   9.077966  1019.272003
11  10.142307  1019.270096
12  11.206628  1019.270096
13  12.270951  1019.271164
14  13.335260  1019.273529
15  14.399547  1019.273682
16  15.463881  1019.275360

In [3]:
# Concatenate all the dataframes of the same measurement type in one dataframe
files = []
for filename in os.listdir('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/FloCrunches/'):
    if filename.endswith('.csv'):
        files.append(filename[:-4])

combineddf = {}


for df in dataframes.keys():
    for df2 in additionaldfs.keys():
        if df in df2:
            combineddf[df] = pd.concat([dataframes[df], additionaldfs[df2]],ignore_index=True)
            dataframes[df] = combineddf[df]
            # print(combineddf[df])

In [4]:
combineddf['time']

    event  experiment time   system time                   system time text
0   START         0.000000  1.686154e+09  2023-06-07 18:13:01.484 UTC+02:00
1   PAUSE        29.359565  1.686154e+09  2023-06-07 18:13:30.843 UTC+02:00
2   START         0.000000  1.686155e+09  2023-06-07 18:15:19.742 UTC+02:00
3   PAUSE        40.218508  1.686155e+09  2023-06-07 18:15:59.960 UTC+02:00
4   START         0.000000  1.686155e+09  2023-06-07 18:21:31.584 UTC+02:00
5   PAUSE        32.973440  1.686155e+09  2023-06-07 18:22:04.558 UTC+02:00
6   START         0.000000  1.686155e+09  2023-06-07 18:23:50.631 UTC+02:00
7   PAUSE        29.224045  1.686155e+09  2023-06-07 18:24:19.855 UTC+02:00
8   START         0.000000  1.686156e+09  2023-06-07 18:35:10.141 UTC+02:00
9   PAUSE        41.887599  1.686156e+09  2023-06-07 18:35:52.029 UTC+02:00
10  START         0.000000  1.686156e+09  2023-06-07 18:36:31.199 UTC+02:00
11  PAUSE        24.776055  1.686156e+09  2023-06-07 18:36:55.975 UTC+02:00

In [5]:
dataframes['Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['timestep'].cumsum()
dataframes['Barometer'].rename(columns={'Time (s)': 'timestep', 'X (hPa)': 'x'}, inplace=True)
dataframes['Barometer']['timestep'] = dataframes['Barometer']['timestep'].cumsum()
dataframes['Gyroscope'].rename(columns={'Time (s)': 'timestep', 'X (rad/s)': 'x', 'Y (rad/s)': 'y', 'Z (rad/s)': 'z'}, inplace=True)
dataframes['Gyroscope']['timestep'] = dataframes['Gyroscope']['timestep'].cumsum()
dataframes['Linear_Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
dataframes['Linear_Accelerometer']['timestep'] = dataframes['Linear_Accelerometer']['timestep'].cumsum()
dataframes['Location'].rename(columns={'Time (s)': 'timestep', 'Latitude (°)': 'latitude', 'Longitude (°)': 'longitude', 'Heigh (m)': 'h', 'Velocity (m/s)': 'vel', 'Direction (°)': 'dir', 'Horizontal Accuracy (m)': 'hor_acc', 'Vertical Accuracy (°)': 'ver_acc'}, inplace=True)
dataframes['Location']['timestep'] = dataframes['Location']['timestep'].cumsum()
dataframes['Magnetometer'].rename(columns={'Time (s)': 'timestep', 'X (μT)': 'x', 'Y (μT)': 'y', 'Z (μT)': 'z'}, inplace=True)
dataframes['Magnetometer']['timestep'] = dataframes['Magnetometer']['timestep'].cumsum()
dataframes['Proximity'].rename(columns={'Time (s)': 'timestep', 'Distance (cm)': 'dis'}, inplace=True)
dataframes['Proximity']['timestep'] = dataframes['Proximity']['timestep'].cumsum()
dataframes['time'].rename(columns={'experiment time': 'experiment_time', 'system time': 'system_time', 'system time text': 'system_text_time'}, inplace=True)
dataframes['time']['timeseq'] = dataframes['time']['experiment_time'].cumsum()

In [6]:
# Save to dataframes as csv in the datasets folder
for df in dataframes.keys():
    dataframes[df].to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/' + df + 'flo.csv', index=False)

In [7]:
# Add a column and calculate the difference between the time steps, and when the difference is negative, put it to 0
# for df in dataframes.keys():
for i in range(len(dataframes['Accelerometer'].index)- 1):
    if i == 0:
        dataframes['Accelerometer']['difference'][i] = 0
    elif dataframes['Accelerometer']['timestep'][i+1] < dataframes['Accelerometer']['timestep'][i]:
        dataframes['Accelerometer']['difference'][i] = 0 
    else:  
        dataframes['Accelerometer']['difference'][i] = dataframes['Accelerometer']['timestep'][i+1] - dataframes['Accelerometer']['timestep'][i]

dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['difference'].cumsum()

dataframes['Accelerometer']

KeyError: 'difference'

In [228]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

maps = ['FloSquads/', 'FloLunges/', 'FloJumpingJacks/', 'FloLegRaises/', 'FloCrunches/', 'FloPushUps/']

# Specify the directory containing the CSV files
directory = './datasets/exercises/'

# Create an empty dictionary to store the DataFrames
dfs = {}
dfsall = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename == 'Accelerometer.csv':  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            dfsall[name] = df   

timesdf = pd.read_csv('./datasets/exercises/timeflo.csv')

indicesbegin = [234, 193, 115, 186, 199, 360]
begintimes = []
for df1 in dfsall.values():
    if indicesbegin == []:
        break
    begintimes.append(df1.at[indicesbegin[0], 'Time (s)'])
    indicesbegin.pop(0)

indicesend = [2540, 3841, 3136, 2647, 3961, 1975]
endtimes = []
for df1 in dfsall.values():
    if indicesend == []:
        break
    endtimes.append(df1.at[indicesend[0], 'Time (s)'])
    indicesend.pop(0)

timesdf['experiment_time'] = timesdf['experiment_time'].cumsum()

In [229]:
timesdf

    event  experiment_time
0   START         0.000000
1   PAUSE        29.359565
2   START        29.359565
3   PAUSE        69.578073
4   START        69.578073
5   PAUSE       102.551512
6   START       102.551512
7   PAUSE       131.775558
8   START       131.775558
9   PAUSE       173.663157
10  START       173.663157
11  PAUSE       198.439213

In [230]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [231]:
timesdf

           event  experiment_time
0   start_timing         0.000000
1          START         0.000000
2          PAUSE        29.359565
3     end_timing        29.359565
4   start_timing        29.359565
5          START        29.359565
6          PAUSE        69.578073
7     end_timing        69.578073
8   start_timing        69.578073
9          START        69.578073
10         PAUSE       102.551512
11    end_timing       102.551512
12  start_timing       102.551512
13         START       102.551512
14         PAUSE       131.775558
15    end_timing       131.775558
16  start_timing       131.775558
17         START       131.775558
18         PAUSE       173.663157
19    end_timing       173.663157
20  start_timing       173.663157
21         START       173.663157
22         PAUSE       198.439213
23    end_timing       198.439213

In [232]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_exercise'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [233]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1   start_exercise         2.343569        squad
2     end_exercise        27.761051        squad
3       end_timing        29.359565       switch
4     start_timing        29.359565       switch
5   start_exercise        31.290903        lunge
6     end_exercise        69.723318        lunge
7       end_timing        69.578073       switch
8     start_timing        69.578073       switch
9   start_exercise        70.728876  jumpingjack
10    end_exercise       102.107338  jumpingjack
11      end_timing       102.551512       switch
12    start_timing       102.551512       switch
13  start_exercise       104.413233     legraise
14    end_exercise       130.899128     legraise
15      end_timing       131.775558       switch
16    start_timing       131.775558       switch
17  start_exercise       133.765041       crunch
18    end_exercise       173.398865       crunch
19      end_timing       173.663157       switch
20    start_timing       173.663157       switch
21  start_exercise       177.267887       pushup
22    end_exercise       197.032904       pushup
23      end_timing       198.439213       switch

In [234]:
new_rows = []

for i, row in timesdf.iterrows():
    new_rows.append(row.to_dict())  # Add the current row

    if row['event'] == 'start_timing':
        next_row = timesdf.iloc[i + 1]  # Get the next row
        new_rows.append({'event': 'end_timing', 'experiment_time': next_row['experiment_time'], 'label': 'switch'})
    elif row['event'] == 'end_exercise':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time'], 'label': 'switch'})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time', 'label'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [235]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1       end_timing         2.343569       switch
2   start_exercise         2.343569        squad
3     end_exercise        27.761051        squad
4     start_timing        27.761051       switch
5       end_timing        29.359565       switch
6     start_timing        29.359565       switch
7       end_timing        31.290903       switch
8   start_exercise        31.290903        lunge
9     end_exercise        69.723318        lunge
10    start_timing        69.723318       switch
11      end_timing        69.578073       switch
12    start_timing        69.578073       switch
13      end_timing        70.728876       switch
14  start_exercise        70.728876  jumpingjack
15    end_exercise       102.107338  jumpingjack
16    start_timing       102.107338       switch
17      end_timing       102.551512       switch
18    start_timing       102.551512       switch
19      end_timing       104.413233       switch
20  start_exercise       104.413233     legraise
21    end_exercise       130.899128     legraise
22    start_timing       130.899128       switch
23      end_timing       131.775558       switch
24    start_timing       131.775558       switch
25      end_timing       133.765041       switch
26  start_exercise       133.765041       crunch
27    end_exercise       173.398865       crunch
28    start_timing       173.398865       switch
29      end_timing       173.663157       switch
30    start_timing       173.663157       switch
31      end_timing       177.267887       switch
32  start_exercise       177.267887       pushup
33    end_exercise       197.032904       pushup
34    start_timing       197.032904       switch
35      end_timing       198.439213       switch

In [224]:
# Change the start_exercise and end_exercise to start_timing and end_timing
timesdf['event'] = timesdf['event'].replace(['start_exercise', 'end_exercise'], ['start_timing', 'end_timing'])
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1     end_timing         2.343569       switch
2   start_timing         2.343569        squad
3     end_timing        27.761051        squad
4   start_timing        27.761051       switch
5     end_timing        29.359565       switch
6   start_timing        29.359565       switch
7     end_timing        31.290903       switch
8   start_timing        31.290903        lunge
9     end_timing        69.723318        lunge
10  start_timing        69.723318       switch
11    end_timing        69.578073       switch
12  start_timing        69.578073       switch
13    end_timing        70.728876       switch
14  start_timing        70.728876  jumpingjack
15    end_timing       102.107338  jumpingjack
16  start_timing       102.107338       switch
17    end_timing       102.551512       switch
18  start_timing       102.551512       switch
19    end_timing       104.413233       switch
20  start_timing       104.413233     legraise
21    end_timing       130.899128     legraise
22  start_timing       130.899128       switch
23    end_timing       131.775558       switch
24  start_timing       131.775558       switch
25    end_timing       133.765041       switch
26  start_timing       133.765041       crunch
27    end_timing       173.398865       crunch
28  start_timing       173.398865       switch
29    end_timing       173.663157       switch
30  start_timing       173.663157       switch
31    end_timing       177.267887       switch
32  start_timing       177.267887       pushup
33    end_timing       197.032904       pushup
34  start_timing       197.032904       switch
35    end_timing       198.439213       switch

In [247]:
# Create a new DataFrame with the updated rows
newtimesdf = pd.DataFrame(new_rows, columns=['label', 'start_timing', 'end_timing'])
i = 0
for i in (timesdf.index-1):
    if i== 0:
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == timesdf['label'][i-1]:
        continue
    if timesdf['label'][i] != 'switch':
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == 'switch':
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+3]})
print(i)

newtimesdf

KeyError: -1

In [249]:
newtimesdf = pd.DataFrame(columns=['label', 'start_timing', 'end_timing'])
for i, row in timesdf.iterrows():
    if i == 0:
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == timesdf['label'][i-1]:
        continue
    if row['label'] != 'switch':
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == 'switch':
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+3]]

print(newtimesdf)

AttributeError: type object 'object' has no attribute 'dtype'

In [223]:
# Create a pivot table indexed by label
pivottimes  = timesdf.pivot_table(index='label', columns='event', values='experiment_time')
pivottimes
# pivottimes.to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/timeflo.csv', index=True)

event        end_exercise  end_timing  start_exercise  start_timing
label
crunch         173.398865         NaN      133.765041           NaN
jumpingjack    102.107338         NaN       70.728876           NaN
legraise       130.899128         NaN      104.413233           NaN
lunge           69.723318         NaN       31.290903           NaN
pushup         197.032904         NaN      177.267887           NaN
squad           27.761051         NaN        2.343569           NaN
switch                NaN  102.098049             NaN    100.654206

In [ ]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [122]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_timing'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [123]:
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1   start_timing         2.343569        squad
2     end_timing        27.761051        squad
3     end_timing        29.359565       switch
4   start_timing        29.359565       switch
5   start_timing        31.290903        lunge
6     end_timing        69.723318        lunge
7     end_timing        69.578073       switch
8   start_timing        69.578073       switch
9   start_timing        70.728876  jumpingjack
10    end_timing       102.107338  jumpingjack
11    end_timing       102.551512       switch
12  start_timing       102.551512       switch
13  start_timing       104.413233     legraise
14    end_timing       130.899128     legraise
15    end_timing       131.775558       switch
16  start_timing       131.775558       switch
17  start_timing       133.765041       crunch
18    end_timing       173.398865       crunch
19    end_timing       173.663157       switch
20  start_timing       173.663157       switch
21  start_timing       177.267887       pushup
22    end_timing       197.032904       pushup
23    end_timing       198.439213       switch

In [250]:
ivo = pd.read_csv('./datasets/exercises/IvoSquads/Accelerometer.csv')

In [251]:
ivo

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.004542   1.358275   1.754202   9.353300
1      0.014562   1.612896   1.417103   9.527088
2      0.024582   1.904639   1.192420   9.493708
3      0.034601   2.216441   1.023422   9.454639
4      0.044621   2.431244   0.893642   9.569600
...         ...        ...        ...        ...
4401  44.100152  -2.116149   4.864135   9.509126
4402  44.110171  -2.067950   4.899012   9.666748
4403  44.120191  -2.335593   4.395759   8.843460
4404  44.130210  -2.478396   3.789220   6.780300
4405  44.140229  -2.678530   4.000431   6.579717

[4406 rows x 4 columns]

In [253]:
ivotime = pd.read_csv('./datasets/exercises/IvoSquads/time.csv')

In [254]:
ivotime

   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:51:07.868 UTC+02:00
1  PAUSE        44.154178  1.686146e+09  2023-06-07 15:51:52.022 UTC+02:00