In [25]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [26]:
import os
import pandas as pd

maps = ['IvoSquads', 'IvoLunges', 'IvoJumpingJacks', 'IvoLegRaises', 'IvoCrunches', 'IvoPushUps']


# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/IvoSquads/'

# Create an empty dictionary to store the DataFrames
dataframes = {}

# Loop through all files in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):  # Check if the file is a CSV file
        file_path = os.path.join(directory, filename)
            
        # Read the CSV file into a pandas DataFrame
        df = pd.read_csv(file_path)
            
        # Assign a name to the DataFrame (e.g., using the filename without the extension)
        name = filename[:-4]# Remove the '.csv' extension
        dataframes[name] = df
            
        # Process the DataFrame or perform desired operations
        # For example, you can print the contents of the DataFrame
        print(dataframes[name])

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.015814  -0.380806   0.160692   0.004342
1      0.025834  -0.103137   0.003458  -0.034739
2      0.035853   0.200611  -0.098207  -0.080269
3      0.045873   0.417969  -0.166445   0.027114
4      0.055893   0.545124  -0.058156   0.484544
...         ...        ...        ...        ...
4400  44.101404   0.059551   0.305290   1.099645
4401  44.111423   0.081509   0.320400   1.261260
4402  44.121443  -0.198943  -0.197929   0.442932
4403  44.131462  -0.348100  -0.794188  -1.627452
4404  44.141481  -0.579095  -0.548230  -1.854626

[4405 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.006421            5.0
1   0.066515            0.0
2   0.184524            5.0
3   0.829848            0.0
4  42.535454            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone11,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease        16.5
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           0
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.582277  1020.246582
1    0.419727  1020.250244
2    1.421664  1020.253983
3    2.423634  1020.262909
4    3.425913  1020.285873
5    4.427614  1020.285873
6    4.977115  1020.285873
7    5.979030  1020.294037
8    6.980995  1020.294037
9    7.983015  1020.294342
10   8.984926  1020.294342
11   9.986979  1020.294342
12  10.988935  1020.294952
13  11.990871  1020.293884
14  12.992715  1020.295639
15  13.994788  1020.295639
16  14.996700  1020.295639
17  15.998620  1020.291290
18  17.000590  1020.290070
19  18.002485  1020.283585
20  19.004417  1020.283127
21  20.006449  1020.280685
22  21.008379  1020.278015
23  22.010226  1020.275955
24  23.012434  1020.274734
25  24.014066  1020.273056
26  25.016149  1020.271225
27  26.017954  1020.270996
28  27.019881  1020.268402
29  28.021904  1020.267410
30  29.023742  1020.266266
31  30.025624  1020.264664
32  31.027687  1020.263519
33  32.029533  1020.263290
34  33.031451  1020.262756
35  34.033415  1020.262451
36  35.035300  1020.262299
37  36.037223  1020.261993
38  37.039705  1020.260773
39  38.041394  1020.260315
40  39.043078  1020.255432
41  40.045022  1020.252838
42  41.047006  1020.241547
    Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0   0.017767     52.367635       4.870826    2.855612            -1.0
1   0.431840     52.367635       4.870826    2.776831            -1.0
2   6.897329     52.367635       4.870826    2.810494            -1.0
3  13.364183     52.367635       4.870826    2.805897            -1.0
4  19.834604     52.367635       4.870826    2.937366            -1.0
5  26.309079     52.367635       4.870826    2.956127            -1.0
6  32.777017     52.367635       4.870826    2.965762            -1.0
7  33.999843     52.367635       4.870826    2.963933            -1.0
8  40.478664     52.367635       4.870826    3.001606            -1.0

   Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0           -1.0                13.924167              13.924167
1           -1.0                13.924167              13.924167
2           -1.0                13.924167              13.924167
3           -1.0                13.924167              13.924167
4           -1.0                13.924167              13.924167
5           -1.0                13.924167              13.924167
6           -1.0                13.924167              13.924167
7           -1.0                13.924167              13.924167
8           -1.0                13.924167              13.924167
       Time (s)    X (µT)    Y (µT)     Z (µT)
0      0.015814  5.925365  7.912918 -35.436035
1      0.025834  5.788792  7.967415 -35.316467
2      0.035853  5.815023  7.991417 -35.247131
3      0.045873  5.931522  7.996147 -35.102875
4      0.055893  5.964952  8.130035 -35.316162
...         ...       ...       ...        ...
4400  44.101404  7.221539  0.880402 -36.493835
4401  44.111423  7.026993  0.817085 -36.365601
4402  44.121443  6.981613  0.778969 -36.501190
4403  44.131462  6.841209  0.716011 -36.137085
4404  44.141481  6.732075  0.810600 -36.345184

[4405 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.004542   1.358275   1.754202   9.353300
1      0.014562   1.612896   1.417103   9.527088
2      0.024582   1.904639   1.192420   9.493708
3      0.034601   2.216441   1.023422   9.454639
4      0.044621   2.431244   0.893642   9.569600
...         ...        ...        ...        ...
4401  44.100152  -2.116149   4.864135   9.509126
4402  44.110171  -2.067950   4.899012   9.666748
4403  44.120191  -2.335593   4.395759   8.843460
4404  44.130210  -2.478396   3.789220   6.780300
4405  44.140229  -2.678530   4.000431   6.579717

[4406 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.015814  -0.523091  -0.055588   0.823329
1      0.025834  -0.545115  -0.026323   0.808075
2      0.035853  -0.529178   0.052075   0.751125
3      0.045873  -0.455319   0.160990   0.640146
4      0.055893  -0.300543   0.173444   0.454263
...         ...        ...        ...        ...
4400  44.101404   0.199520  -0.480872  -0.110480
4401  44.111423   0.312594  -0.320922  -0.184572
4402  44.121443   0.110841  -0.209289  -0.229531
4403  44.131462  -0.233848  -0.244871  -0.202197
4404  44.141481  -0.502064  -0.661397  -0.071541

[4405 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:51:07.868 UTC+02:00
1  PAUSE        44.154178  1.686146e+09  2023-06-07 15:51:52.022 UTC+02:00

In [27]:
maps = ['IvoLunges/', 'IvoJumpingJacks/', 'IvoLegRaises/', 'IvoCrunches/', 'IvoPushUps/']

# Specify the directory containing the CSV files
directory = '/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/'

# Create an empty dictionary to store the DataFrames
additionaldfs = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename.endswith('.csv'):  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            additionaldfs[name] = df
            
            # Process the DataFrame or perform desired operations
            # For example, you can print the contents of the DataFrame
            print(additionaldfs[name])

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.008601   0.047625   0.468708  -2.317225
1      0.018621   0.278508   0.711266  -2.754415
2      0.028640   0.515737   0.598552  -2.009180
3      0.038659   0.579966  -0.031707  -0.931915
4      0.048679  -0.472296  -0.233370   0.333827
...         ...        ...        ...        ...
4565  45.746774  -0.541298   0.752121  -0.456346
4566  45.756793  -0.708312   0.029524  -0.311817
4567  45.766812  -0.848046   0.036033  -0.290144
4568  45.776832  -0.909852   0.132562  -0.603898
4569  45.786851  -0.623179  -0.213062  -0.675954

[4570 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.003434            5.0
1   0.596019            0.0
2  44.799115            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone11,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease        16.5
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           0
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.554404  1020.180740
1    0.447841  1020.180969
2    1.449546  1020.181198
3    2.451402  1020.183640
4    3.453419  1020.201035
5    4.455322  1020.201035
6    5.004816  1020.201035
7    6.006833  1020.202560
8    7.008726  1020.202560
9    8.010665  1020.193176
10   9.012627  1020.185699
11  10.015061  1020.176849
12  11.016623  1020.174637
13  12.018503  1020.173492
14  13.020430  1020.173492
15  14.022313  1020.177002
16  15.024257  1020.177002
17  16.026408  1020.177155
18  17.028387  1020.182800
19  18.030355  1020.183105
20  19.032302  1020.186157
21  20.034403  1020.186157
22  21.035937  1020.188675
23  22.037808  1020.188675
24  23.039808  1020.191498
25  24.041643  1020.193405
26  25.043699  1020.194092
27  26.045504  1020.194092
28  27.047421  1020.191422
29  28.049363  1020.187531
30  29.051261  1020.186615
31  30.053294  1020.178757
32  31.055065  1020.175934
33  32.057120  1020.171814
34  33.059024  1020.171204
35  34.060998  1020.171204
36  35.062775  1020.171661
37  36.064757  1020.174713
38  37.066622  1020.177917
39  38.068600  1020.179062
40  39.070445  1020.188141
41  40.072384  1020.193634
42  41.074610  1020.197983
43  42.076225  1020.201263
44  43.078164  1020.201263
    Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0   0.017511     52.367635       4.870826   -1.178022            -1.0
1   0.476102     52.367635       4.870826    2.730997            -1.0
2   6.969064     52.367635       4.870826    2.723692            -1.0
3  13.451359     52.367635       4.870826    2.740436            -1.0
4  19.940570     52.367635       4.870826    2.727435            -1.0
5  26.429442     52.367635       4.870826    2.790303            -1.0
6  32.914218     52.367635       4.870826    2.689445            -1.0
7  39.397132     52.367635       4.870826    2.630396            -1.0
8  45.485512     52.367635       4.870826    2.600556            -1.0

   Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0           -1.0                13.924167              13.924167
1           -1.0                13.924167              13.924167
2           -1.0                13.924167              13.924167
3           -1.0                13.924167              13.924167
4           -1.0                13.924167              13.924167
5           -1.0                13.924167              13.924167
6           -1.0                13.924167              13.924167
7           -1.0                13.924167              13.924167
8           -1.0                13.924167              13.924167
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.008601  14.970440  18.897049 -28.156830
1      0.018621  15.093990  18.892128 -27.998047
2      0.028640  15.260046  18.885956 -28.000671
3      0.038659  15.782108  18.932045 -27.449738
4      0.048679  16.153650  18.856445 -27.110748
...         ...        ...        ...        ...
4565  45.746774  21.350328  -1.231445 -29.663605
4566  45.756793  21.608368  -1.425949 -29.749634
4567  45.766812  21.740196  -1.280800 -29.452393
4568  45.776832  21.553427  -1.338165 -29.401825
4569  45.786851  21.347862  -1.357292 -29.835571

[4570 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.002340  -2.646048  -0.251028   7.088210
1      0.012359  -2.495161  -0.040566   6.625223
2      0.022378  -2.359843  -0.168400   7.338490
3      0.032398  -2.400708  -0.797542   8.382868
4      0.042417  -3.533851  -0.983305   9.623638
...         ...        ...        ...        ...
4566  45.750532  -5.848787   5.108577   6.322552
4567  45.760551  -5.968987   5.124593   6.352041
4568  45.770570  -5.991740   5.239105   6.054460
4569  45.780589  -5.642367   4.905299   6.020780
4570  45.790608  -5.354964   4.890630   5.564828

[4571 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.008601  -0.473130   0.668297   0.126780
1      0.018621  -0.308044   0.984325   0.224509
2      0.028640  -0.170078   1.126858   0.282443
3      0.038659  -0.042944   0.998844   0.480400
4      0.048679   0.054469   0.651837   0.458825
...         ...        ...        ...        ...
4565  45.746774  -0.522165   0.270861   0.266332
4566  45.756793  -0.176296  -0.020951   0.225050
4567  45.766812   0.119539  -0.274026   0.177963
4568  45.776832   0.146536  -0.654356   0.143209
4569  45.786851  -0.009432  -1.008219   0.128955

[4570 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:54:17.562 UTC+02:00
1  PAUSE        45.803741  1.686146e+09  2023-06-07 15:55:03.365 UTC+02:00
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.013244  -0.125283   0.208838  -1.937135
1      0.023263   0.044295  -0.253634  -1.164076
2      0.033282   0.356385  -0.921602  -0.437220
3      0.043302   0.451996  -1.296169   0.202842
4      0.053321   0.209638  -1.250076   0.680623
...         ...        ...        ...        ...
3434  34.419253   0.386374   0.003297   1.312785
3435  34.429273  -0.200954  -0.226477   1.017647
3436  34.439292  -0.461836  -0.393476   0.258737
3437  34.449311  -0.613973   0.203808  -0.770515
3438  34.459330  -0.861854   0.578882  -1.232987

[3439 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.006646            5.0
1   0.852042            0.0
2  33.057146            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone11,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease        16.5
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           0
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.564926  1020.171280
1    0.437050  1020.171661
2    1.438979  1020.172043
3    2.440943  1020.172043
4    3.442893  1020.169907
5    4.444876  1020.169601
6    4.994286  1020.166321
7    5.996220  1020.164871
8    6.998224  1020.164871
9    8.000093  1020.164871
10   9.002010  1020.164261
11  10.003931  1020.164490
12  11.005856  1020.164490
13  12.007833  1020.165176
14  13.009706  1020.165176
15  14.011643  1020.160217
16  15.013628  1020.160217
17  16.015416  1020.160904
18  17.017320  1020.162659
19  18.019287  1020.164337
20  19.021160  1020.169983
21  20.023148  1020.172806
22  21.025032  1020.172806
23  22.027413  1020.171280
24  23.029040  1020.171280
25  24.030861  1020.171280
26  25.032742  1020.172119
27  26.034577  1020.175476
28  27.036472  1020.179596
29  28.038956  1020.182648
30  29.040307  1020.182648
31  30.042245  1020.179749
32  31.044276  1020.175552
    Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0   0.067332     52.367635       4.870826   -1.489272            -1.0
1   0.474429     52.367635       4.870826    2.946185            -1.0
2   7.129922     52.367635       4.870826    2.871836            -1.0
3  13.617611     52.367635       4.870826    2.897511            -1.0
4  20.110855     52.367635       4.870826    2.799311            -1.0
5  26.605641     52.367635       4.870826    2.751489            -1.0
6  33.127630     52.367635       4.870826    2.795033            -1.0

   Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0           -1.0                13.924167              13.924167
1           -1.0                13.924167              13.924167
2           -1.0                13.924167              13.924167
3           -1.0                13.924167              13.924167
4           -1.0                13.924167              13.924167
5           -1.0                13.924167              13.924167
6           -1.0                13.924167              13.924167
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.013244   5.307278   9.611130 -35.980591
1      0.023263   5.429256   9.659996 -35.793213
2      0.033282   5.546026   9.806297 -35.673645
3      0.043302   5.916061  10.119385 -35.563354
4      0.053321   6.112459  10.330688 -35.358704
...         ...        ...        ...        ...
3434  34.419253  20.353180  -6.070267 -30.504242
3435  34.429273  20.354519  -6.297874 -30.584473
3436  34.439292  20.506426  -6.363876 -30.430756
3437  34.449311  20.295994  -6.532303 -30.488495
3438  34.459330  20.150074  -6.666046 -30.292969

[3439 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.001972   1.870510   1.777853   7.355853
1      0.011992   1.618734   1.455423   7.635771
2      0.022011   1.719474   0.944236   8.427325
3      0.032030   1.956432   0.229024   9.172775
4      0.042050   1.977089  -0.185913   9.829759
...         ...        ...        ...        ...
3435  34.418001  -4.303551   5.715864   7.763156
3436  34.428021  -4.912335   5.525759   7.416926
3437  34.438040  -5.166806   5.401068   6.624474
3438  34.448059  -5.282964   6.028863   5.593867
3439  34.458078  -5.465584   6.412964   5.170548

[3440 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.013244  -0.494679   0.662388  -0.033225
1      0.023263  -0.534819   0.745023  -0.119123
2      0.033282  -0.499390   0.766650  -0.236923
3      0.043302  -0.431327   0.707869  -0.335370
4      0.053321  -0.388031   0.552887  -0.377824
...         ...        ...        ...        ...
3434  34.419253   0.735472   0.228665  -0.287319
3435  34.429273   0.827954  -0.029396  -0.197646
3436  34.439292   0.663404  -0.416262  -0.075643
3437  34.449311   0.307292  -0.752007   0.031745
3438  34.459330  -0.124177  -1.156649   0.090164

[3439 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:55:32.957 UTC+02:00
1  PAUSE        34.477977  1.686146e+09  2023-06-07 15:56:07.434 UTC+02:00
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.012814  -0.300160   0.222756  -1.946268
1      0.022833  -0.370770   0.338986  -2.165626
2      0.032852  -0.395124   0.216274  -1.653291
3      0.042872  -0.658892  -0.035582  -0.863419
4      0.052891  -0.694234  -0.149522   0.040078
...         ...        ...        ...        ...
5615  56.270350  -0.910890   1.743760   1.962575
5616  56.280370  -0.911288   0.829506   0.822324
5617  56.290389  -0.030755  -0.601670  -0.190333
5618  56.300408   0.678937  -1.398870  -0.584585
5619  56.310427   1.065242  -1.626066  -1.167395

[5620 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.007515            5.0
1   0.584949            0.0
2  44.261523            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone11,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease        16.5
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           0
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.575338  1020.276718
1    0.426549  1020.279999
2    1.428525  1020.280075
3    2.430461  1020.280075
4    3.432427  1020.274124
5    4.434345  1020.271759
6    4.983969  1020.269623
7    5.985839  1020.271301
8    6.987745  1020.271301
9    7.989749  1020.273819
10   8.991567  1020.274200
11   9.993532  1020.274353
12  10.995504  1020.274353
13  11.997982  1020.272064
14  12.999727  1020.271912
15  14.001508  1020.271912
16  15.003232  1020.271912
17  16.005115  1020.274582
18  17.007007  1020.274582
19  18.008939  1020.274582
20  19.010800  1020.276184
21  20.012750  1020.276642
22  21.014575  1020.276794
23  22.016595  1020.278473
24  23.018418  1020.278702
25  24.020348  1020.278473
26  25.022214  1020.276718
27  26.024124  1020.276489
28  27.026014  1020.275116
29  28.027996  1020.274506
30  29.029833  1020.273743
31  30.031732  1020.272293
32  31.033723  1020.269623
33  32.035547  1020.267868
34  33.037684  1020.266571
35  34.039433  1020.266571
36  35.041354  1020.268631
37  36.043214  1020.271225
38  37.045038  1020.273972
39  38.046961  1020.274124
40  39.048956  1020.275192
41  40.050764  1020.274124
42  41.052684  1020.276108
43  42.054543  1020.279770
44  43.056505  1020.279770
45  44.058436  1020.277023
46  45.060430  1020.276031
47  46.062208  1020.274353
48  47.064140  1020.267715
49  48.066150  1020.265656
50  49.068002  1020.265656
51  50.070011  1020.266037
52  51.071846  1020.266037
53  52.073763  1020.269012
54  53.075820  1020.271149
     Time (s)  Latitude (°)  Longitude (°)  Height (m)  Velocity (m/s)  \
0    0.014989     52.367635       4.870826    3.001988            -1.0
1    0.054616     52.367293       4.869750   -1.088226            -1.0
2    0.062283     52.367111       4.869102   -1.088226            -1.0
3    0.447290     52.367635       4.870826    3.067837            -1.0
4    2.074533     52.367635       4.870826    3.090816            -1.0
5    6.915747     52.367635       4.870826    3.110218            -1.0
6   13.413087     52.367635       4.870826    2.974205            -1.0
7   19.890275     52.367635       4.870826    2.871161            -1.0
8   26.400248     52.367635       4.870826    2.773063            -1.0
9   32.881811     52.367635       4.870826    2.775514            -1.0
10  39.363078     52.367635       4.870826    2.871161            -1.0
11  45.383510     52.367635       4.870826    2.883498            -1.0
12  46.021824     52.367635       4.870826    2.888137            -1.0
13  52.516610     52.367635       4.870826    2.911799            -1.0

    Direction (°)  Horizontal Accuracy (m)  Vertical Accuracy (°)
0            -1.0                13.924167              13.924167
1            -1.0              2000.000000            2000.000000
2            -1.0              2000.000000            2000.000000
3            -1.0                13.924167              13.924167
4            -1.0                13.924167              13.924167
5            -1.0                13.924167              13.924167
6            -1.0                13.924167              13.924167
7            -1.0                13.924167              13.924167
8            -1.0                13.924167              13.924167
9            -1.0                13.924167              13.924167
10           -1.0                13.924167              13.924167
11           -1.0                13.924167              13.924167
12           -1.0                13.924167              13.924167
13           -1.0                13.924167              13.924167
       Time (s)     X (µT)     Y (µT)     Z (µT)
0      0.012814  24.779278 -24.821899 -23.441162
1      0.022833  24.820858 -24.757759 -23.477661
2      0.032852  24.842148 -24.639515 -23.348816
3      0.042872  24.984055 -24.230217 -23.645691
4      0.052891  25.049831 -23.886959 -24.119171
...         ...        ...        ...        ...
5615  56.270350   4.068476   0.989075 -44.549866
5616  56.280370   3.659267   1.312447 -44.425934
5617  56.290389   3.483074   1.542442 -44.691467
5618  56.300408   3.377777   1.713295 -44.517670
5619  56.310427   3.489914   1.515457 -44.568665

[5620 rows x 4 columns]
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.001543  -3.021018   9.134305   1.294358
1      0.011562  -2.913841   9.337283   0.569715
2      0.021581  -3.016078   9.423354   0.425266
3      0.031600  -3.073559   9.271719   1.003962
4      0.041620  -3.368894   8.993598   1.850602
...         ...        ...        ...        ...
5616  56.269098  -1.370251   5.086722  11.173964
5617  56.279118  -1.292861   4.107908  10.060429
5618  56.289137  -0.359103   2.639611   9.062904
5619  56.299156   0.354463   1.841171   8.669222
5620  56.309175   0.691263   1.644181   8.073910

[5621 rows x 4 columns]
       Time (s)  X (rad/s)  Y (rad/s)  Z (rad/s)
0      0.012814  -0.801666  -0.211741  -0.393076
1      0.022833  -0.764769  -0.052973  -0.373128
2      0.032852  -0.694200   0.043198  -0.353069
3      0.042872  -0.575530  -0.012812  -0.342544
4      0.052891  -0.448295  -0.113559  -0.158114
...         ...        ...        ...        ...
5615  56.270350  -0.787998  -0.797817   0.189257
5616  56.280370  -0.598258  -0.677590   0.238740
5617  56.290389  -0.207642  -0.306240   0.175879
5618  56.300408   0.168198   0.267009  -0.092542
5619  56.310427   0.493147   0.616981  -0.250193

[5620 rows x 4 columns]
   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:52:31.421 UTC+02:00
1  PAUSE        56.337058  1.686146e+09  2023-06-07 15:53:27.757 UTC+02:00
       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.012684  -0.599885  -0.184248   0.084103
1      0.022704  -0.709837  -0.374138   0.028222
2      0.032723  -0.789140  -0.817127   0.030262
3      0.042742  -1.206503  -0.774018   0.049960
4      0.052762  -0.938051  -0.197990   0.256268
...         ...        ...        ...        ...
2843  28.497879  -0.424662  -0.337121   0.840448
2844  28.507899  -0.240223   0.133274   0.791011
2845  28.517918   0.217101  -0.170053   0.079157
2846  28.527938  -0.127755  -0.203779  -0.049223
2847  28.537958  -0.272047   0.148256  -0.207622

[2848 rows x 4 columns]
    Time (s)  Distance (cm)
0   0.006654            5.0
1   0.538125            0.0
2  26.336669            5.0
                property       value
0                version      1.1.11
1                  build       10011
2             fileFormat        1.15
3            deviceModel  iPhone11,2
4            deviceBrand       Apple
5            deviceBoard         NaN
6     deviceManufacturer         NaN
7           deviceBaseOS         NaN
8         deviceCodename         NaN
9          deviceRelease        16.5
10      depthFrontSensor           1
11  depthFrontResolution         NaN
12        depthFrontRate         NaN
13       depthBackSensor           0
14   depthBackResolution         NaN
15         depthBackRate         NaN
     Time (s)      X (hPa)
0   -0.555365  1020.360184
1    0.446579  1020.357208
2    1.448505  1020.358658
3    2.450452  1020.358658
4    3.452407  1020.365295
5    4.454366  1020.368652
6    5.004180  1020.377426

In [28]:
# Concatenate all the dataframes of the same measurement type in one dataframe
files = []
for filename in os.listdir('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/FloCrunches/'):
    if filename.endswith('.csv'):
        files.append(filename[:-4])

combineddf = {}


for df in dataframes.keys():
    for df2 in additionaldfs.keys():
        if df in df2:
            combineddf[df] = pd.concat([dataframes[df], additionaldfs[df2]],ignore_index=True)
            dataframes[df] = combineddf[df]
            # print(combineddf[df])

In [29]:
combineddf['time']

    event  experiment time   system time                   system time text
0   START         0.000000  1.686146e+09  2023-06-07 15:51:07.868 UTC+02:00
1   PAUSE        44.154178  1.686146e+09  2023-06-07 15:51:52.022 UTC+02:00
2   START         0.000000  1.686146e+09  2023-06-07 15:54:17.562 UTC+02:00
3   PAUSE        45.803741  1.686146e+09  2023-06-07 15:55:03.365 UTC+02:00
4   START         0.000000  1.686146e+09  2023-06-07 15:55:32.957 UTC+02:00
5   PAUSE        34.477977  1.686146e+09  2023-06-07 15:56:07.434 UTC+02:00
6   START         0.000000  1.686146e+09  2023-06-07 15:52:31.421 UTC+02:00
7   PAUSE        56.337058  1.686146e+09  2023-06-07 15:53:27.757 UTC+02:00
8   START         0.000000  1.686146e+09  2023-06-07 15:50:04.238 UTC+02:00
9   PAUSE        28.549071  1.686146e+09  2023-06-07 15:50:32.786 UTC+02:00
10  START         0.000000  1.686146e+09  2023-06-07 15:48:49.318 UTC+02:00
11  PAUSE        31.939944  1.686146e+09  2023-06-07 15:49:21.258 UTC+02:00

In [30]:
dataframes['Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
# dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['timestep'].cumsum()
dataframes['Barometer'].rename(columns={'Time (s)': 'timestep', 'X (hPa)': 'x'}, inplace=True)
# dataframes['Barometer']['timestep'] = dataframes['Barometer']['timestep'].cumsum()
dataframes['Gyroscope'].rename(columns={'Time (s)': 'timestep', 'X (rad/s)': 'x', 'Y (rad/s)': 'y', 'Z (rad/s)': 'z'}, inplace=True)
# dataframes['Gyroscope']['timestep'] = dataframes['Gyroscope']['timestep'].cumsum()
dataframes['Linear_Accelerometer'].rename(columns={'Time (s)': 'timestep', 'X (m/s^2)': 'x', 'Y (m/s^2)': 'y', 'Z (m/s^2)': 'z'}, inplace=True)
# dataframes['Linear_Accelerometer']['timestep'] = dataframes['Linear_Accelerometer']['timestep'].cumsum()
dataframes['Location'].rename(columns={'Time (s)': 'timestep', 'Latitude (°)': 'latitude', 'Longitude (°)': 'longitude', 'Heigh (m)': 'h', 'Velocity (m/s)': 'vel', 'Direction (°)': 'dir', 'Horizontal Accuracy (m)': 'hor_acc', 'Vertical Accuracy (°)': 'ver_acc'}, inplace=True)
# dataframes['Location']['timestep'] = dataframes['Location']['timestep'].cumsum()
dataframes['Magnetometer'].rename(columns={'Time (s)': 'timestep', 'X (μT)': 'x', 'Y (μT)': 'y', 'Z (μT)': 'z'}, inplace=True)
# dataframes['Magnetometer']['timestep'] = dataframes['Magnetometer']['timestep'].cumsum()
dataframes['Proximity'].rename(columns={'Time (s)': 'timestep', 'Distance (cm)': 'dis'}, inplace=True)
# dataframes['Proximity']['timestep'] = dataframes['Proximity']['timestep'].cumsum()
dataframes['time'].rename(columns={'experiment time': 'experiment_time', 'system time': 'system_time', 'system time text': 'system_text_time'}, inplace=True)
dataframes['time']['timeseq'] = dataframes['time']['experiment_time'].cumsum()

In [16]:
# Save to dataframes as csv in the datasets folder
for df in dataframes.keys():
    dataframes[df].to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/' + df + 'ivo.csv', index=False)

In [31]:
# Add a column and calculate the difference between the time steps, and when the difference is negative, put it to 0
# for df in dataframes.keys():
for i in range(len(dataframes['Accelerometer'].index)- 1):
    if i == 0:
        dataframes['Accelerometer']['difference'][i] = 0
    elif dataframes['Accelerometer']['timestep'][i+1] < dataframes['Accelerometer']['timestep'][i]:
        dataframes['Accelerometer']['difference'][i] = 0 
    else:  
        dataframes['Accelerometer']['difference'][i] = dataframes['Accelerometer']['timestep'][i+1] - dataframes['Accelerometer']['timestep'][i]

dataframes['Accelerometer']['timeseq'] = dataframes['Accelerometer']['difference'].cumsum()

dataframes['Accelerometer']

KeyError: 'difference'

In [228]:
import pandas as pd
import numpy as np
from pathlib import Path
import os

maps = ['FloSquads/', 'FloLunges/', 'FloJumpingJacks/', 'FloLegRaises/', 'FloCrunches/', 'FloPushUps/']

# Specify the directory containing the CSV files
directory = './datasets/exercises/'

# Create an empty dictionary to store the DataFrames
dfs = {}
dfsall = {}

for map in maps:
    path = os.path.join(directory, map)
    
    # Loop through all files in the directory
    for filename in os.listdir(path):
        if filename == 'Accelerometer.csv':  # Check if the file is a CSV file
            file_path = os.path.join(path, filename)  # Use 'path' instead of 'directory'
            
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
            
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4] + map[:-1] # Remove the '.csv' extension
            dfsall[name] = df   

timesdf = pd.read_csv('./datasets/exercises/timeflo.csv')

indicesbegin = [234, 193, 115, 186, 199, 360]
begintimes = []
for df1 in dfsall.values():
    if indicesbegin == []:
        break
    begintimes.append(df1.at[indicesbegin[0], 'Time (s)'])
    indicesbegin.pop(0)

indicesend = [2540, 3841, 3136, 2647, 3961, 1975]
endtimes = []
for df1 in dfsall.values():
    if indicesend == []:
        break
    endtimes.append(df1.at[indicesend[0], 'Time (s)'])
    indicesend.pop(0)

timesdf['experiment_time'] = timesdf['experiment_time'].cumsum()

In [229]:
timesdf

    event  experiment_time
0   START         0.000000
1   PAUSE        29.359565
2   START        29.359565
3   PAUSE        69.578073
4   START        69.578073
5   PAUSE       102.551512
6   START       102.551512
7   PAUSE       131.775558
8   START       131.775558
9   PAUSE       173.663157
10  START       173.663157
11  PAUSE       198.439213

In [230]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [231]:
timesdf

           event  experiment_time
0   start_timing         0.000000
1          START         0.000000
2          PAUSE        29.359565
3     end_timing        29.359565
4   start_timing        29.359565
5          START        29.359565
6          PAUSE        69.578073
7     end_timing        69.578073
8   start_timing        69.578073
9          START        69.578073
10         PAUSE       102.551512
11    end_timing       102.551512
12  start_timing       102.551512
13         START       102.551512
14         PAUSE       131.775558
15    end_timing       131.775558
16  start_timing       131.775558
17         START       131.775558
18         PAUSE       173.663157
19    end_timing       173.663157
20  start_timing       173.663157
21         START       173.663157
22         PAUSE       198.439213
23    end_timing       198.439213

In [232]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_exercise'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_exercise'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [233]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1   start_exercise         2.343569        squad
2     end_exercise        27.761051        squad
3       end_timing        29.359565       switch
4     start_timing        29.359565       switch
5   start_exercise        31.290903        lunge
6     end_exercise        69.723318        lunge
7       end_timing        69.578073       switch
8     start_timing        69.578073       switch
9   start_exercise        70.728876  jumpingjack
10    end_exercise       102.107338  jumpingjack
11      end_timing       102.551512       switch
12    start_timing       102.551512       switch
13  start_exercise       104.413233     legraise
14    end_exercise       130.899128     legraise
15      end_timing       131.775558       switch
16    start_timing       131.775558       switch
17  start_exercise       133.765041       crunch
18    end_exercise       173.398865       crunch
19      end_timing       173.663157       switch
20    start_timing       173.663157       switch
21  start_exercise       177.267887       pushup
22    end_exercise       197.032904       pushup
23      end_timing       198.439213       switch

In [234]:
new_rows = []

for i, row in timesdf.iterrows():
    new_rows.append(row.to_dict())  # Add the current row

    if row['event'] == 'start_timing':
        next_row = timesdf.iloc[i + 1]  # Get the next row
        new_rows.append({'event': 'end_timing', 'experiment_time': next_row['experiment_time'], 'label': 'switch'})
    elif row['event'] == 'end_exercise':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time'], 'label': 'switch'})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time', 'label'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [235]:
timesdf

             event  experiment_time        label
0     start_timing         0.000000       switch
1       end_timing         2.343569       switch
2   start_exercise         2.343569        squad
3     end_exercise        27.761051        squad
4     start_timing        27.761051       switch
5       end_timing        29.359565       switch
6     start_timing        29.359565       switch
7       end_timing        31.290903       switch
8   start_exercise        31.290903        lunge
9     end_exercise        69.723318        lunge
10    start_timing        69.723318       switch
11      end_timing        69.578073       switch
12    start_timing        69.578073       switch
13      end_timing        70.728876       switch
14  start_exercise        70.728876  jumpingjack
15    end_exercise       102.107338  jumpingjack
16    start_timing       102.107338       switch
17      end_timing       102.551512       switch
18    start_timing       102.551512       switch
19      end_timing       104.413233       switch
20  start_exercise       104.413233     legraise
21    end_exercise       130.899128     legraise
22    start_timing       130.899128       switch
23      end_timing       131.775558       switch
24    start_timing       131.775558       switch
25      end_timing       133.765041       switch
26  start_exercise       133.765041       crunch
27    end_exercise       173.398865       crunch
28    start_timing       173.398865       switch
29      end_timing       173.663157       switch
30    start_timing       173.663157       switch
31      end_timing       177.267887       switch
32  start_exercise       177.267887       pushup
33    end_exercise       197.032904       pushup
34    start_timing       197.032904       switch
35      end_timing       198.439213       switch

In [224]:
# Change the start_exercise and end_exercise to start_timing and end_timing
timesdf['event'] = timesdf['event'].replace(['start_exercise', 'end_exercise'], ['start_timing', 'end_timing'])
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1     end_timing         2.343569       switch
2   start_timing         2.343569        squad
3     end_timing        27.761051        squad
4   start_timing        27.761051       switch
5     end_timing        29.359565       switch
6   start_timing        29.359565       switch
7     end_timing        31.290903       switch
8   start_timing        31.290903        lunge
9     end_timing        69.723318        lunge
10  start_timing        69.723318       switch
11    end_timing        69.578073       switch
12  start_timing        69.578073       switch
13    end_timing        70.728876       switch
14  start_timing        70.728876  jumpingjack
15    end_timing       102.107338  jumpingjack
16  start_timing       102.107338       switch
17    end_timing       102.551512       switch
18  start_timing       102.551512       switch
19    end_timing       104.413233       switch
20  start_timing       104.413233     legraise
21    end_timing       130.899128     legraise
22  start_timing       130.899128       switch
23    end_timing       131.775558       switch
24  start_timing       131.775558       switch
25    end_timing       133.765041       switch
26  start_timing       133.765041       crunch
27    end_timing       173.398865       crunch
28  start_timing       173.398865       switch
29    end_timing       173.663157       switch
30  start_timing       173.663157       switch
31    end_timing       177.267887       switch
32  start_timing       177.267887       pushup
33    end_timing       197.032904       pushup
34  start_timing       197.032904       switch
35    end_timing       198.439213       switch

In [247]:
# Create a new DataFrame with the updated rows
newtimesdf = pd.DataFrame(new_rows, columns=['label', 'start_timing', 'end_timing'])
i = 0
for i in (timesdf.index-1):
    if i== 0:
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == timesdf['label'][i-1]:
        continue
    if timesdf['label'][i] != 'switch':
        thisone = timesdf[i]
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+1]})
    if timesdf['label'][i] == 'switch':
        newtimesdf.append({'label': timesdf['label'][i], 'start_timing': timesdf['start_timing'][i], 'end_timing': timesdf['end_timing'][i+3]})
print(i)

newtimesdf

KeyError: -1

In [249]:
newtimesdf = pd.DataFrame(columns=['label', 'start_timing', 'end_timing'])
for i, row in timesdf.iterrows():
    if i == 0:
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == timesdf['label'][i-1]:
        continue
    if row['label'] != 'switch':
        thisone = row
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+1]]
    if row['label'] == 'switch':
        newtimesdf.loc[i] = [row['label'], row['start_timing'], timesdf['end_timing'][i+3]]

print(newtimesdf)

AttributeError: type object 'object' has no attribute 'dtype'

In [223]:
# Create a pivot table indexed by label
pivottimes  = timesdf.pivot_table(index='label', columns='event', values='experiment_time')
pivottimes
# pivottimes.to_csv('/Users/florencecornelissen/Documents/VU/ML4QS/ML4QS2023A1/Python3Code/datasets/exercises/timeflo.csv', index=True)

event        end_exercise  end_timing  start_exercise  start_timing
label
crunch         173.398865         NaN      133.765041           NaN
jumpingjack    102.107338         NaN       70.728876           NaN
legraise       130.899128         NaN      104.413233           NaN
lunge           69.723318         NaN       31.290903           NaN
pushup         197.032904         NaN      177.267887           NaN
squad           27.761051         NaN        2.343569           NaN
switch                NaN  102.098049             NaN    100.654206

In [ ]:
new_rows = []

for i, row in timesdf.iterrows():
    if row['event'] == 'START':
        new_rows.append({'event': 'start_timing', 'experiment_time': row['experiment_time']})
    new_rows.append(row)  # Add the current row
    if row['event'] == 'PAUSE':
        new_rows.append({'event': 'end_timing', 'experiment_time': row['experiment_time']})

# Create a new DataFrame with the updated rows
timesdf = pd.DataFrame(new_rows, columns=['event', 'experiment_time'])

# Reset the index
timesdf.reset_index(drop=True, inplace=True)

In [122]:
labels = ['squad', 'lunge', 'jumpingjack', 'legraise', 'crunch', 'pushup']

i = 0
for i in timesdf.index:
    if begintimes == [] or endtimes ==[] or labels == []:
        break
    if timesdf.loc[i]['event'] == 'start_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'end_timing':
        timesdf.at[i, 'label'] = 'switch'
    if timesdf.loc[i]['event'] == 'START':
        # timesdf.loc[i-0.5] = ['start_timing', 0]
        timesdf.loc[i, 'experiment_time'] = begintimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'start_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i-0.5, 'label'] = 'switch'
        begintimes.pop(0)
    if timesdf.loc[i]['event'] == 'PAUSE':
        # timesdf.loc[i+0.5] = ['end_timing', timesdf.loc[i]['experiment_time']]
        timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
        timesdf.loc[i, 'event'] = 'end_timing'
        timesdf.at[i, 'label'] = labels[0]
        # timesdf.at[i+0.5, 'label'] = 'switch'
        endtimes.pop(0)
        labels.pop(0)

if endtimes:
    # timesdf.loc[i+1] = ['end_timing', timesdf.loc[i, 'experiment_time']]
    timesdf.loc[i, 'experiment_time'] = endtimes[0] + timesdf.loc[i-1, 'experiment_time']
    timesdf.loc[i, 'event'] = 'end_timing'
    timesdf.at[i, 'label'] = labels[0]
    timesdf.at[i+1, 'label'] = 'switch'
    # timesdf.at[i+1, 'label'] = 'switch'

In [123]:
timesdf

           event  experiment_time        label
0   start_timing         0.000000       switch
1   start_timing         2.343569        squad
2     end_timing        27.761051        squad
3     end_timing        29.359565       switch
4   start_timing        29.359565       switch
5   start_timing        31.290903        lunge
6     end_timing        69.723318        lunge
7     end_timing        69.578073       switch
8   start_timing        69.578073       switch
9   start_timing        70.728876  jumpingjack
10    end_timing       102.107338  jumpingjack
11    end_timing       102.551512       switch
12  start_timing       102.551512       switch
13  start_timing       104.413233     legraise
14    end_timing       130.899128     legraise
15    end_timing       131.775558       switch
16  start_timing       131.775558       switch
17  start_timing       133.765041       crunch
18    end_timing       173.398865       crunch
19    end_timing       173.663157       switch
20  start_timing       173.663157       switch
21  start_timing       177.267887       pushup
22    end_timing       197.032904       pushup
23    end_timing       198.439213       switch

In [250]:
ivo = pd.read_csv('./datasets/exercises/IvoSquads/Accelerometer.csv')

In [251]:
ivo

       Time (s)  X (m/s^2)  Y (m/s^2)  Z (m/s^2)
0      0.004542   1.358275   1.754202   9.353300
1      0.014562   1.612896   1.417103   9.527088
2      0.024582   1.904639   1.192420   9.493708
3      0.034601   2.216441   1.023422   9.454639
4      0.044621   2.431244   0.893642   9.569600
...         ...        ...        ...        ...
4401  44.100152  -2.116149   4.864135   9.509126
4402  44.110171  -2.067950   4.899012   9.666748
4403  44.120191  -2.335593   4.395759   8.843460
4404  44.130210  -2.478396   3.789220   6.780300
4405  44.140229  -2.678530   4.000431   6.579717

[4406 rows x 4 columns]

In [253]:
ivotime = pd.read_csv('./datasets/exercises/IvoSquads/time.csv')

In [254]:
ivotime

   event  experiment time   system time                   system time text
0  START         0.000000  1.686146e+09  2023-06-07 15:51:07.868 UTC+02:00
1  PAUSE        44.154178  1.686146e+09  2023-06-07 15:51:52.022 UTC+02:00