In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import os
from datetime import datetime, timedelta

In [ ]:
participants = ['Ivo', 'Flo', 'Joost']
for participant in participants:

    maps = [participant+'Squads', participant+'Lunges', participant+'JumpingJacks', participant+'LegRaises', participant+'Crunches', participant+'PushUps']

    # Specify the directory containing the CSV files
    directory = './dfs/exercises/Data'+participant+'/'

    # Create an empty dictionary to store the DataFrames
    dataframes = {}

    # Loop through all files in the directory
    for filename in os.listdir(directory):
        if filename.endswith('.csv') and filename != 'device.csv':  # Check if the file is a CSV file
            file_path = os.path.join(directory, filename)
                
            # Read the CSV file into a pandas DataFrame
            df = pd.read_csv(file_path)
                
            # Assign a name to the DataFrame (e.g., using the filename without the extension)
            name = filename[:-4]# Remove the '.csv' extension
            dataframes[name] = df
                
            # Process the DataFrame or perform desired operations
            # For example, you can print the contents of the DataFrame

In [ ]:
dataframes['AccelerometerJoost']
exercisedate = datetime(2023,6,7,14,13,30,636874)
stamp = exercisedate.timestamp()
print(stamp)
print(pd.to_datetime(stamp, unit='s'))

In [61]:
# Add our date as the first timestamp of each dataframe
timedf = pd.read_csv('./dfs/exercises/exercisesFlo/FloSquads/time.csv')
startstamp = timedf['system time'][0]
print(startstamp)
startstampdate = pd.to_datetime(startstamp, unit='s')
print(startstampdate)

1686154381.4837039
2023-06-07 16:13:01.483703852

In [65]:
dataframes

{'BarometerJoost':        timestep            x    timestamps                          date
 0     -0.535377  1015.577698  1.686140e+09 2023-06-07 12:13:30.736874023
 1      0.501628  1015.606689  1.686140e+09 2023-06-07 12:13:30.736874023
 2      1.538370  1015.577698  1.686140e+09 2023-06-07 12:13:30.736874023
 3      2.575080  1015.635681  1.686140e+09 2023-06-07 12:13:30.736874023
 4      3.611562  1015.584259  1.686140e+09 2023-06-07 12:13:30.736874023
 ..          ...          ...           ...                           ...
 123  107.448503  1015.691452  1.686140e+09 2023-06-07 12:13:30.736874023
 124  108.408690  1015.674667  1.686140e+09 2023-06-07 12:13:30.736874023
 125  109.368619  1015.654221  1.686140e+09 2023-06-07 12:13:30.736874023
 126  110.328601  1015.631485  1.686140e+09 2023-06-07 12:13:30.736874023
 127  111.288593  1015.605774  1.686140e+09 2023-06-07 12:13:30.736874023

 [128 rows x 4 columns],
 'timeJoost':           label  start_timing  end_timing   label_start     label_end  \
 0        switch      0.000000    2.380795  1.686140e+09  1.686140e+09
 1         squad      2.380795   21.962821  1.686142e+09  1.686140e+09
 2        switch     21.962821   24.805292  1.686162e+09  1.686140e+09
 3        switch     24.805292   27.382751  1.686165e+09  1.686140e+09
 4         lunge     27.382751   44.163353  1.686167e+09  1.686140e+09
 5        switch     44.163353   43.854775  1.686184e+09  1.686140e+09
 6        switch     43.854775   46.855569  1.686184e+09  1.686140e+09
 7   jumpingjack     46.855569   59.850933  1.686187e+09  1.686140e+09
 8        switch     59.850933   61.978581  1.686200e+09  1.686140e+09
 9        switch     61.978581   64.978067  1.686202e+09  1.686140e+09
 10     legraise     64.978067   86.968491  1.686205e+09  1.686140e+09
 11       switch     86.968491   86.622802  1.686227e+09  1.686140e+09
 12       switch     86.622802   88.963161  1.686227e+09  1.686140e+09
 13       crunch     88.963161  106.266415  1.686229e+09  1.686140e+09
 14       switch    106.266415  106.487980  1.686246e+09  1.686140e+09
 15       switch    106.487980  109.904766  1.686246e+09  1.686140e+09
 16       pushup    109.904766  124.675945  1.686250e+09  1.686140e+09
 17       switch    124.675945  127.998778  1.686265e+09  1.686140e+09

                 label_start_date
 0  1970-01-20 12:22:20.010636874
 1  1970-01-20 12:22:22.391431957
 2  1970-01-20 12:22:41.973458167
 3  1970-01-20 12:22:44.815928874
 4  1970-01-20 12:22:47.393387707
 5  1970-01-20 12:23:04.173989587
 6  1970-01-20 12:23:03.865412332
 7  1970-01-20 12:23:06.866206082
 8  1970-01-20 12:23:19.861570042
 9  1970-01-20 12:23:21.989218249
 10 1970-01-20 12:23:24.988703416
 11 1970-01-20 12:23:46.979127456
 12 1970-01-20 12:23:46.633438582
 13 1970-01-20 12:23:48.973797999
 14 1970-01-20 12:24:06.277051539
 15 1970-01-20 12:24:06.498617249
 16 1970-01-20 12:24:09.915403124
 17 1970-01-20 12:24:24.686582254  ,
 'MagnetometerJoost':          timestep         x          y          z    timestamps  \
 0        0.055690 -0.598484 -13.852953 -51.034157  1.686140e+09
 1        0.065685 -0.883999 -13.455370 -51.035515  1.686140e+09
 2        0.075680 -1.235467 -13.059114 -51.015236  1.686140e+09
 3        0.085675 -2.250237 -11.881268 -51.298569  1.686140e+09
 4        0.095670 -3.047243 -11.065815 -51.555435  1.686140e+09
 ...           ...       ...        ...        ...           ...
 12770  127.882894  0.926763 -29.096695 -45.496693  1.686140e+09
 12771  127.892889  0.873833 -29.064228 -45.544540  1.686140e+09
 12772  127.902884  0.892630 -28.996433 -45.488625  1.686140e+09
 12773  127.912879  0.828116 -28.991177 -45.442230  1.686140e+09
 12774  127.922874  0.851280 -29.069990 -45.501827  1.686140e+09

                                date
 0     2023-06-07 12:13:30.736874023
 1     2023-06-07 12:13:30.736874023
 2     2023-06-07 12:13:30.736874023
 3     2023-06-07 12:13:30.736874023
 4     2023-06-07 12:13:30.736874023
 ...                             ...
 12770 2023-06-07 12:13:30.736874023
 12771 2023-06-07 12:13:30.736874023
 12772 2023-06-07 12:13:30.736874023
 12773 2023-06-07 12:13:30.736874023
 12774 2023-06-07 12:13:30.736874023

 [12775 rows x 6 columns],
 'AccelerometerJoost':          timestep         x         y         z    timestamps  \
 0        0.001968 -4.420458  4.815935  6.693930  1.686140e+09
 1        0.011963 -4.536317  5.037175  7.161707  1.686140e+09
 2        0.021958 -4.415518  4.602479  7.480993  1.686140e+09
 3        0.031953 -3.798651  3.957770  7.709568  1.686140e+09
 4        0.041948 -3.340304  3.778143  8.242759  1.686140e+09
 ...           ...       ...       ...       ...           ...
 12798  127.870406 -3.317252  6.571335  7.222930  1.686140e+09
 12799  127.880402 -3.372187  6.717730  7.370373  1.686140e+09
 12800  127.890397 -3.320695  6.708749  7.194788  1.686140e+09
 12801  127.900392 -3.349135  6.670578  7.183711  1.686140e+09
 12802  127.910387 -3.175646  6.527775  6.962322  1.686140e+09

                                date
 0     2023-06-07 12:13:30.736874023
 1     2023-06-07 12:13:30.736874023
 2     2023-06-07 12:13:30.736874023
 3     2023-06-07 12:13:30.736874023
 4     2023-06-07 12:13:30.736874023
 ...                             ...
 12798 2023-06-07 12:13:30.736874023
 12799 2023-06-07 12:13:30.736874023
 12800 2023-06-07 12:13:30.736874023
 12801 2023-06-07 12:13:30.736874023
 12802 2023-06-07 12:13:30.736874023

 [12803 rows x 6 columns],
 'LocationJoost':        timestep   latitude  longitude         h       vel         dir  \
 0      0.034098  52.366127   4.879448  5.811822 -1.000000   -1.000000
 1      0.564622  52.366127   4.879448  5.450134 -1.000000   -1.000000
 2      4.958379  52.366091   4.879549  2.408051  0.238508  162.019297
 3      5.957386  52.366092   4.879541  2.393500  0.149877  288.253553
 4      6.956394  52.366100   4.879523  2.389669  0.168816   29.803022
 ..          ...        ...        ...       ...       ...         ...
 112  120.213047  52.366023   4.879597  2.573796  0.052522   -1.000000
 113  121.163059  52.366027   4.879593  2.599161  0.191785   -1.000000
 114  122.113049  52.366032   4.879580  2.634527  0.136537   -1.000000
 115  123.063042  52.366044   4.879567  2.703100  0.070583   -1.000000
 116  124.013059  52.366062   4.879559  2.751953  0.171605   -1.000000

        hor_acc    ver_acc    timestamps                          date
 0    10.770280  10.770280  1.686140e+09 2023-06-07 12:13:30.736874023
 1    10.770280  10.770280  1.686140e+09 2023-06-07 12:13:30.736874023
 2    19.652522  19.652522  1.686140e+09 2023-06-07 12:13:30.736874023
 3    16.504703  16.504703  1.686140e+09 2023-06-07 12:13:30.736874023
 4    14.951457  14.951457  1.686140e+09 2023-06-07 12:13:30.736874023
 ..         ...        ...           ...                           ...
 112   6.516639   6.516639  1.686140e+09 2023-06-07 12:13:30.736874023
 113   5.615184   5.615184  1.686140e+09 2023-06-07 12:13:30.736874023
 114   6.933218   6.933218  1.686140e+09 2023-06-07 12:13:30.736874023
 115  10.549810  10.549810  1.686140e+09 2023-06-07 12:13:30.736874023
 116   8.391007   8.391007  1.686140e+09 2023-06-07 12:13:30.736874023

 [117 rows x 10 columns],
 'GyroscopeJoost':          timestep         x         y         z    timestamps  \
 0        0.055690 -1.589077 -1.976192 -0.968500  1.686140e+09
 1        0.065685 -1.357809 -1.603903 -1.192234  1.686140e+09
 2        0.075680 -0.980707 -1.179324 -1.423825  1.686140e+09
 3        0.085675 -0.660655 -0.920944 -1.614823  1.686140e+09
 4        0.095670 -0.508258 -0.676654 -1.695493  1.686140e+09
 ...           ...       ...       ...       ...           ...
 12770  127.882894 -0.040564 -0.161484 -0.000566  1.686140e+09
 12771  127.892889  0.015585 -0.190759 -0.022372  1.686140e+09
 12772  127.902884  0.041226 -0.199911 -0.044110  1.686140e+09
 12773  127.912879 -0.025249 -0.212247 -0.053687  1.686140e+09
 12774  127.922874 -0.130335 -0.237608 -0.067220  1.686140e+09

                                date
 0     2023-06-07 12:13:30.736874023
 1     2023-06-07 12:13:30.736874023
 2     2023-06-07 12:13:30.736874023
 3     2023-06-07 12:13:30.736874023
 4     2023-06-07 12:13:30.736874023
 ...                             ...
 12770 2023-06-07 12:13:30.736874023
 12771 2023-06-07 12:13:30.736874023
 12772 2023-06-07 12:13:30.736874023
 12773 2023-06-07 12:13:30.736874023
 12774 2023-06-07 12:13:30.736874023

 [12775 rows x 6 columns],
 'Linear_AccelerometerJoost':          timestep         x         y         z    timestamps  \
 0        0.055690 -0.433932  1.512252 -0.600239  1.686140e+09
 1        0.065685 -0.651941  2.101946  0.544404  1.686140e+09
 2        0.075680 -0.915689  2.310686  0.686657  1.686140e+09
 3        0.085675 -0.562685  1.961985 -0.108500  1.686140e+09
 4        0.095670  0.442018  0.998357  0.482605  1.686140e+09
 ...           ...       ...       ...       ...           ...
 12770  127.882894 -0.200842  0.110673  0.275996  1.686140e+09
 12771  127.892889 -0.306541  0.270977  0.594203  1.686140e+09
 12772  127.902884 -0.300776  0.323859  0.470370  1.686140e+09
 12773  127.912879 -0.303596  0.317716  0.411763  1.686140e+09
 12774  127.922874 -0.260760  0.200804  0.262481  1.686140e+09

                                date
 0     2023-06-07 12:13:30.736874023
 1     2023-06-07 12:13:30.736874023
 2     2023-06-07 12:13:30.736874023
 3     2023-06-07 12:13:30.736874023
 4     2023-06-07 12:13:30.736874023
 ...                             ...
 12770 2023-06-07 12:13:30.736874023
 12771 2023-06-07 12:13:30.736874023
 12772 2023-06-07 12:13:30.736874023
 12773 2023-06-07 12:13:30.736874023
 12774 2023-06-07 12:13:30.736874023

 [12775 rows x 6 columns],
 'ProximityJoost':       timestep  dis    timestamps                          date
 0     0.008133  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 1     0.839935  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 2    22.688223  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 3    22.691377  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 4    23.413453  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 5    40.496471  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 6    40.499923  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 7    41.293722  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 8    55.360366  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 9    55.364002  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 10   56.098406  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 11   78.403155  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 12   78.405835  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 13   79.219137  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 14   96.848608  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 15   96.852995  5.0  1.686140e+09 2023-06-07 12:13:30.736874023
 16   97.534739  0.0  1.686140e+09 2023-06-07 12:13:30.736874023
 17  115.998018  5.0  1.686140e+09 2023-06-07 12:13:30.736874023}

In [90]:
# Add our date as the first timestamp of each dataframe
timedf = pd.read_csv('./dfs/exercises/exercisesFlo/FloSquads/time.csv')
startstamp = 1454956105656222395
print(pd.to_datetime(startstamp))
print('step',dataframes['AccelerometerJoost']['timestep'][0])
nextstamp = startstamp + (dataframes['AccelerometerJoost']['timestep'][0]*1000000000)
print(nextstamp)
print(pd.to_datetime(nextstamp))

# our_date = datetime.now() - timedelta(weeks=1)

for df in dataframes:
    if df != 'time'+participant:
        # dataframes[df]['timestep']
        
        dataframes[df]['timestamps'] = startstamp + (dataframes[df]['timestep']*1000000000)
        # dataframes[df]['timestamps'] = dataframes[df]['newdate'].timestamp()*1000
        dataframes[df]['date'] = pd.to_datetime(dataframes[df]['timestamps'])
        # dataframes[df].to_csv('./dfs/exercises/Data'+participant+'/'+df+'.csv', index=False)
    if df == 'time'+participant:
        dataframes[df]['label_start'] = startstamp + (dataframes[df]['start_timing']*1000000000)
        dataframes[df]['label_end'] = startstamp + (dataframes[df]['end_timing']*1000000000)
        dataframes[df]['label_start_date'] = pd.to_datetime(dataframes[df]['label_start'])
        # dataframes[df].to_csv('./dfs/exercises/Data'+participant+'/'+df+'.csv', index=False)

2016-02-08 18:28:25.656222395
step 0.001967749999
1.4549561056581903e+18
2016-02-08 18:28:25.658190336

In [91]:
dataframes['BarometerJoost']

       timestep            x    timestamps                          date
0     -0.535377  1015.577698  1.454956e+18 2016-02-08 18:28:25.120845312
1      0.501628  1015.606689  1.454956e+18 2016-02-08 18:28:26.157850368
2      1.538370  1015.577698  1.454956e+18 2016-02-08 18:28:27.194592256
3      2.575080  1015.635681  1.454956e+18 2016-02-08 18:28:28.231302400
4      3.611562  1015.584259  1.454956e+18 2016-02-08 18:28:29.267784192
..          ...          ...           ...                           ...
123  107.448503  1015.691452  1.454956e+18 2016-02-08 18:30:13.104724992
124  108.408690  1015.674667  1.454956e+18 2016-02-08 18:30:14.064911872
125  109.368619  1015.654221  1.454956e+18 2016-02-08 18:30:15.024840960
126  110.328601  1015.631485  1.454956e+18 2016-02-08 18:30:15.984823040
127  111.288593  1015.605774  1.454956e+18 2016-02-08 18:30:16.944815104

[128 rows x 4 columns]

In [ ]:
print(dataframes['timeJoost']['label_start'][0])
print(dataframes['timeJoost']['label_end'][0])

In [ ]:
timestamp = datetime.timestamp(now)
endtime = timestamp + 4.0834
print(endtime)

In [ ]:
print(type(4.0834))

In [3]:
df = pd.read_csv('./intermediate_datafiles/chapter2_resultexercisesJoost.csv')

In [4]:
df['sumlabels'] = df['labelswitch'] + df['labelsquad'] + df['labellunge'] + df['labeljumpingjack'] + df['labellegraise'] + df['labelcrunch'] + df['labelpushup']
for index, row in df.iterrows():
    if row['sumlabels'] >1: 
        df.at[index, 'labelswitch'] = 0

Empty DataFrame
Columns: [Unnamed: 0, acc_phone_x, acc_phone_y, acc_phone_z, bar_phone_x, gyr_phone_x, gyr_phone_y, gyr_phone_z, linacc_phone_x, linacc_phone_y, linacc_phone_z, loc_phone_latitude, loc_phone_longitude, loc_phone_h, loc_phone_vel, loc_phone_dir, loc_phone_hor_acc, loc_phone_ver_acc, mag_phone_x, mag_phone_y, mag_phone_z, dist_phone_dis, labelswitch, labelsquad, labellunge, labeljumpingjack, labellegraise, labelcrunch, labelpushup, sumlabels]
Index: []

[0 rows x 30 columns]

In [21]:
df.head(100)

,Unnamed: 0,acc_phone_x,acc_phone_y,acc_phone_z,bar_phone_x,gyr_phone_x,gyr_phone_y,gyr_phone_z,linacc_phone_x,linacc_phone_y,...,mag_phone_z,dist_phone_dis,labelswitch,labelsquad,labellunge,labeljumpingjack,labellegraise,labelcrunch,labelpushup,sumlabels
0,2016-02-08 18:28:25.658355968,-3.841986,4.286277,5.427189,NaN,-1.682828,-2.713533,0.186690,0.663163,-0.100288,...,-36.669995,5.0,1,0,0,0,0,0,0,1
1,2016-02-08 18:28:25.758355968,-0.759865,1.505000,8.721568,NaN,-2.678256,0.030050,0.415729,1.829207,-1.170615,...,-40.966660,NaN,1,0,0,0,0,0,0,1
2,2016-02-08 18:28:25.858355968,-1.467309,-2.189751,14.632357,NaN,0.108870,0.619375,-0.704781,1.247158,-2.899975,...,-38.537537,NaN,1,0,0,0,0,0,0,1
3,2016-02-08 18:28:25.958355968,-3.867028,2.510849,5.344770,NaN,1.338276,3.080191,-0.213816,1.651895,0.504820,...,-32.772098,NaN,1,0,0,0,0,0,0,1
4,2016-02-08 18:28:26.058355968,-3.055042,-1.549682,6.581574,NaN,-2.833711,0.730859,-1.361044,3.111846,-2.511608,...,-28.399083,NaN,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2016-02-08 18:28:35.158355968,7.116801,-1.578977,8.095914,NaN,0.644608,-0.636964,-0.722624,0.967275,-0.429500,...,-32.580751,NaN,0,1,0,0,0,0,0,1
96,2016-02-08 18:28:35.258355968,8.476528,-1.110406,8.534487,NaN,0.055858,-0.410462,-0.409976,1.870016,-0.622977,...,-32.522235,NaN,0,1,0,0,0,0,0,1
97,2016-02-08 18:28:35.358355968,8.694909,-0.715078,8.962971,NaN,-0.739786,0.072921,0.381923,1.918920,-0.067859,...,-31.345535,NaN,0,1,0,0,0,0,0,1
98,2016-02-08 18:28:35.458355968,7.714987,-2.084341,8.842966,NaN,-1.251541,0.855353,0.949820,1.288396,-0.243813,...,-29.814700,NaN,0,1,0,0,0,0,0,1
99,2016-02-08 18:28:35.558355968,5.995422,-2.488291,8.180219,NaN,-2.003342,1.547762,0.882151,0.677430,1.042535,...,-27.165445,NaN,0,1,0,0,0,0,0,1